@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .navigation {
    flex-direction: column;
  }

  .logo {
    color: white;
    font-size: 3rem;
    margin: auto;
  }

  .options ul {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  .options li a {
    font-size: 0.5rem;
    color: white;
    padding: 0.35rem;
    margin: 0;
    align-content: center;
  }
  .profile {
    display: none;
  }

  .content {
    padding-left: 1rem;
  }

  .seccion1__left {
    grid-column: 1/3;
  }

  .seccion1 p {
    font-size: 1rem;
  }

  .contact span,
  input {
    padding: 0;
    width: 10rem;
  }

  h1 {
    font-size: 2rem;
  }

  iframe {
    width: 300px;
    height: 250px;
    fill: rgb(255, 255, 255);
  }

  .content li {
    font-size: 1rem;
  }
}
