@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .navigation {
    flex-direction: column;
  }

  .logo {
    color: white;
    font-size: 3rem;
    margin: auto;
  }

  .options ul {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
  }

  .options li a {
    font-size: 0.5rem;
    color: white;
    padding: 0.1rem;
    margin: 0 0.5rem;
  }
  .profile {
    display: none;
  }
}
