body {
  background: #202020;
}

* {
  font-family: "Manrope", "Arial";
}

.navigation {
  background: #323232;
  height: 6rem;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 4rem;
  margin-left: 2rem;
}

.options ul {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.options li a {
  font-size: 1.3rem;
  text-decoration: none;
  height: 2rem;
  position: relative;
  color: white;
  padding: 1rem 2rem;
}

.options li a:hover {
  background: #4a4949;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.content ul {
  padding-left: 1.5rem;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

.content li {
  font-size: 1.5rem;
  color: #6ce5ff;
  text-decoration: none;
  padding-top: 0.8rem;
}

.seccion1 {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

h1 {
  color: white;
  font-size: 4rem;
  margin: 2rem 0;
}

.seccion1 span {
  color: white;
  font-size: 1.2rem;
}

input {
  width: 15rem;
}

.seccion1 p {
  color: #6ce5ff;
  font-size: 1.5rem;
}

.profile {
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
  justify-content: center;
}

.profile img {
  border-radius: 10%;
  width: 20rem;
}

.seccion1 .contact {
  height: 2rem;
  margin-top: 2rem;
}

.seccion2 {
  display: flex;
  flex-direction: column;
}
.seccion2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
