html, body {
  height: 100%;
  width: 100%;
}

* {
  font-family : "Manrope", "Arial";
}

.home h1 {
  color : white;
  text-align : center;
  padding : 20px;
}

.home {
    background: #352D2D;
    padding: 20px;
    border-radius: 5px 5px;
    position: relative;
    transition: all 0.3s ease;
    top: 0;
}


.opt{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style-type: none;
}

.opt li {
    background: white;
    padding: 3px;
    border : 2.5pt solid black;
    border-radius: 10px;
    box-shadow: 0px 30px 50px -25px gray;
    position: relative;
    transition: all 0.3s ease;
    top: 0;
    margin : auto;
    text-align : center;
    width : 10rem;
}

.opt li:hover {
      box-shadow: 0px 50px 75px -25px grey !important;
    top: -20px !important;
}

.navi {

}