body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #202020;
}

* {
  font-family : "Manrope", "Arial";
}

.navigation {
  display: flex;
  flex-direction: column;
}

.options {
  background: #323232;
  margin: 0;
  height: 6rem;
  display: flex;
  position: sticky;
  left: 0;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}

.options li {
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease;
    text-align : center;
}

.options li:hover {
    top: -10px !important;
}

.content {
  display: flex;
  flex-direction: column;
}

.content input {
  width: 10rem;
  margin-left: 10rem;
  margin-top: 2rem;
}
h1 {
  color: white;
  margin: 0 2rem;
  margin-top: 1rem;
}
